{% extends 'base.html' %}
{% block content %}
<h3 class="p-2" style="width: 100%; background-color: rgb(36, 36, 36); color: white;">Карточка</h3>
<div class="row p-2" style="border: 2px solid rgb(36, 36, 36);">
    <!-- 1 БЛОК -->
    <div class="col" style="border: 1px solid gray;">
        <div class="row">
            <div class="col-3">
                <label for="lang">Язык</label>
                <br>
                <select id="lang" name="lang" style="width: 90%;">
                    <option value="ru">Русский</option>
                    <option value="kz">Казахский</option>
                </select>
            </div>
            <div class="col-4">
                <label class="ml-2" for="s_category">Класс обращения</label>
                <br>
                <select class="ml-2" name="s_category" id="s_category">
                    {% for s_category in s_categories %}
                        <option value="{{ s_category.id }}">{{ s_category.name_ru }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-4">
                <label for="s_ratio">Отношение</label>
                <br>
                <select name="s_ratio" id="s_ratio">
                    {% for s_ratio in s_ratios %}
                        <option value="{{ s_ratio.id }}">{{ s_ratio.name_ru }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <h6 class="mt-2">Содержание приема</h6>
        <div class="p-2" name="Содержание приема" style="border: 1px solid gray;">
            <div class="row">
                <div class="col-3">
                    <label for="iin1">ИИН</label>
                    <br>
                    <input type="text" id="iin1" name="iin1">
                </div>
                <div class="col-4">
                    <label for="date_vz">Дата</label>
                    <br>
                    <input type="date" id="date_vz" name="date_vz">
                </div>
                <div class="col-2">
                    <label for="time_vz">Время</label>
                    <br>
                    <input style="width: 70px;" type="time" id="time_vz" name="time_vz">
                </div>
                <div class="col-3">
                    <label for="phone1">№ Телефона</label>
                    <br>
                    <input type="text" id="phone1" name="phone1">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="fio1">ФИО</label>
                    <br>
                    <input type="text" id="fio1" name="fio1">
                </div>
                <div class="col">
                    <label for="s_region">Район</label>
                    <br>
                    <select name="s_region" id="s_region">
                        {% for s_region in s_regions %}
                            <option value="{{ s_region.id }}">{{ s_region.name_ru }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="s_street1">Улица</label>
                    <br>
                    <select name="s_street1" id="s_street1">
                        {% for s_street in s_streets %}
                            <option value="{{ s_street.id }}">{{ s_street.name_ru }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <label for="home1">Дом</label>
                    <br>
                    <input style="width: 45px;" type="text" name="home1" id="home1">
                </div>
                <div class="col-2">
                    <label for="block1">Блок</label>
                    <br>
                    <input type="text" style="width: 45px;" name="block1" id="block1">
                </div>
                <div class="col-2">
                    <label for="kv1">Квартира</label>
                    <br>
                    <input style="width: 45px;" type="text" name="kv1" id="kv1">
                </div>
                <div class="col-6">
                    <label for="village1">Село в черте города</label>
                    <br>
                    <select name="village1" id="village1">
                        {% for s_village in s_villages %}
                            <option value="{{ s_village.id }}">{{ s_village.name_ru }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
            <div class="row mt-3">
                <ul class="nav justify-content-start" style="padding: 0px; margin-left:5px;">
                    <li class="nav-item" style="padding: 0px;">
                        <button class="active" id="patients" onclick="choseHistory('patients')" aria-current="page" onclick="" style="padding: 5px; 
                                                                                            border-top: 1px solid #c9c9c9; 
                                                                                            border-left: 1px solid #c9c9c9; 
                                                                                            border-right:1px solid #c9c9c9; 
                                                                                            border-radius:10% 10% 0 0;">
                            Пациенты
                    </button>
                    </li>
                    <li class="nav-item" style="padding: 0px;">
                        <button id="calls" onclick="choseHistory('calls')" style="padding: 5px; 
                                                                border-top: 1px solid #c9c9c9; 
                                                                border-left: 1px solid #c9c9c9; 
                                                                border-right:1px solid #c9c9c9; 
                                                                border-radius:10% 10% 0 0;">
                        История звонков</button>
                    </li>
                </ul>
            </div>
            <div id="modal_patients">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>ФИО</th>
                            <th>Телефон</th>
                            <th>ПМСП</th>
                            <th>Дата начала</th>
                            <th>Дата окончания</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="modal_calls" style="display: none;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>ЗВОНОК</th>
                            <th>ЗВОНОК</th>
                            <th>ЗВОНОК</th>
                            <th>ЗВОНОК</th>
                            <th>ЗВОНОК</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    <!-- 2 БЛОК -->
    <div class="col">

    </div>
    <!-- 3 БЛОК -->
    <div class="col">

    </div>
    <!-- 4 БЛОК -->
    <div class="col">
    </div>
</div>
<style>
    table{
        font-size: 13px;
        min-height: 200px;
    }
    select{
        font-size: 13px;
    }
    input{
        font-size: 13px;
    }
    label{
        font-size: 13px;
    }
    select{
        border: 0.5px solid  rgb(118, 118, 118);
        border-radius: 2px;
        margin-left: 1px;
    }
    select, input{
      box-sizing: border-box;
      width: 100%;
      padding: 0;
      margin: 0;
      height: 20px;
    }
    .active{
        background-color:rgb(36, 36, 36);
        color: white;
    }
    a{
        text-decoration: none;
    }
</style>
<script>
    function makeActive(id) {
        var element = document.getElementById(id);
        element.classList.add("active");
    }
    function choseHistory(button) {
        var modal_patients = document.getElementById('modal_patients');
        var modal_calls = document.getElementById('modal_calls')
        if (button === "patients"){
            modal_calls.style.display = 'none'
            modal_patients.style.display = 'block'
        }
        else{
            modal_calls.style.display = 'block'
            modal_patients.style.display = 'none'
        }
    }        
</script>
{% endblock %}