	<form class="p-2" id="popup" style="background-color: #e9e9e9; border: 2px solid black; height: 800px;" method="POST" style="padding: 0px;">
	{% csrf_token %}
	<!-- БЛОК 1 -->
	<div class="col">
		<h3 style="border: 1px solid gray; border-radius: 10% 10% 0 0">Информирование и контроль</h3>
		<table>
			<tbody>
				<tr>
					<td>
						Соблюдение условий пребывания
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
							<input style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
							<input style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr>
					<td>
						Выполнение назначений
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
							<input style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
							<input style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr>
					<td>
						Видеозвонок оператора
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
							<input style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
							<input style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- БЛОК 2 -->
	<div class="col">

	</div>
</form>
<script>
	document.getElementById('close').addEventListener("click", function(event){
        $("#for_popup").empty();
});
</script>
<style>
    #popup{
        position:absolute;
		top: 50%;
		left: 50%;
        transform:translate(-50%, -50%);
        box-shadow: 9px 9px 9px 9px gray;
    }
	table{
		border: 1px solid gray;
	}
	td{
		height: 25px;
	}
	tr{
		height: 25px;
	}
</style>