	<form class="p-2 row" id="popup" style="background-color: #e9e9e9; border: 2px solid black;" method="POST" style="padding: 0px;">
	{% csrf_token %}
	<!-- БЛОК 1 -->
	<div class="col">
		<h3 class="p-1" style="border: 1px solid gray; border-radius: 5px 5px 0 0; font-size: 14px;">Информирование и контроль</h3>
		<table class="p-1" style="width: 100%; min-height: 50px;">
			<tbody style="display: block; min-height: 50px; border: 1px solid gray;" class="px-2">
				<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Соблюдение условий пребывания
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" name="" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Выполнение назначений
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr class="mt-1 mb-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Видеозвонок оператора
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
			</tbody>
		</table>
		<div class="mt-1">
			<h3 style="font-size: 14px;">Жалобы пациента на ПМСП</h3>
			<textarea name="" id="" cols="55" rows="4"></textarea>
		</div>
		<div class="mt-1">
			<h3 style="font-size: 14px;">Нарушения карантина пациентом</h3>
			<textarea name="" id="" cols="55" rows="4"></textarea>
		</div>
		<h3 class="mt-1 p-1" style="border: 1px solid gray; border-radius: 5px 5px 0 0; font-size: 14px;">Нарушение ПМСП</h3>
		<table class="p-1" style="width: 100%; min-height: 100px;">
			<tbody style="display: block; min-height: 100px; border: 1px solid gray;" class="px-2">
				<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Повторный забор ПЦР на ДН
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Разрешение выхода на улицу
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Разрешен самостоятельный выезд на КТ
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Неправильное назначение ЛС
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Невыдача чек-листа
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Не взята расписка
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Нет выезда МБ
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Не звонили в прош. сутки
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						ДК завершен
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Госпитализирован ранее
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Нет связи с пациентом и ГП
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr class="mt-1 mb-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Неверные данные
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
			</tbody>
		</table>
		<h3 class="mt-1" style="font-size: 14px;">Описание нарушений ПМСП</h3>
		<textarea name="" id="" cols="55" rows="4"></textarea>
	</div>
	<!-- БЛОК 2 -->
	<div class="col">
		<label for="">Оценка текущего состояния</label>
		<select name="" id="">

		</select>
		<div class="row">
			<div class="col">
				<label for="">Температура</label>
				<br>
				<input type="text">
			</div>
			<div class="col">
				<label for="">Сатурация</label>
				<input type="text">
			</div>
		</div>
		<h3 class="p-1 mt-2" style="border: 1px solid gray; border-radius: 5px 5px 0 0; font-size: 14px;">Чеклист мониторинг</h3>
		<table style="min-height: 100px; width: 100%">
			<tbody style="display: block; min-height: 100px; border: 1px solid gray;" class="px-2">
				<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Слабость
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Потливость
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Головная боль
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Выделение из глаз или покраснение
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Снижение слуха / боли в ушах
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Заложенность носа
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Потеря обоняния
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Потеря вкуса
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Боль/першение в горле
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Кашель сухой
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Кашель влажный с мокротой
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Затрудненность дыхания
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Одышка
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Ощущение сердцебиения/стестнения в груди
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Ощущение заложенности в грудной клетке
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Тошнота
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Рвота
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Боли в животе
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Диарея
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Боль в мышцах
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Боль в суставах
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Онемение/боли в НК
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
				<tr class="mt-1 mb-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
					<td>
						Сыпь
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Да</label>
						</div>
					</td>
					<td>
						<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
							<input class="input_radio" style="width: 20px;" type="radio">
							<label for="">Нет</label>
						</div>	
					</td>
				</tr>
			</tbody>
		</table>
		<h3 class="mt-1" style="font-size: 14px;">Жалобы на состояние здоровья</h3>
		<textarea name="" id="" cols="52" rows="2"></textarea>
		</div>
	</div>
	<!-- НИЖНИЕ БЛОК -->
	<div class="row">
		<!-- БЛОК №1 -->
		<div class="col-8">
			<h3 class="p-1 mt-2" style="border: 1px solid gray; border-radius: 5px 5px 0 0; font-size: 14px;">Обратная связь</h3>
			<table class="p-1" style="width: 100%; min-height: 50px;">
				<tbody style="display: block; min-height: 50px; border: 1px solid gray;" class="px-2">
					<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
						<td>
							Отправить МБ
						</td>
						<td>
							<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
								<input class="input_radio" style="width: 20px;" type="radio">
								<label for="">Да</label>
							</div>
						</td>
						<td>
							<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
								<input class="input_radio" style="width: 20px;" type="radio">
								<label for="">Нет</label>
							</div>	
						</td>
					</tr>
					<tr class="mt-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
						<td>
							Корректировка ЛС
						</td>
						<td>
							<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
								<input class="input_radio" style="width: 20px;" type="radio">
								<label for="">Да</label>
							</div>
						</td>
						<td>
							<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
								<input class="input_radio" style="width: 20px;" type="radio">
								<label for="">Нет</label>
							</div>	
						</td>
					</tr>
					<tr class="mt-1 mb-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
						<td>
							Отбор биоматериала у контактных лиц
						</td>
						<td>
							<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
								<input class="input_radio" style="width: 20px;" type="radio">
								<label for="">Да</label>
							</div>
						</td>
						<td>
							<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
								<input class="input_radio" style="width: 20px;" type="radio">
								<label for="">Нет</label>
							</div>	
						</td>
					</tr>
					<tr class="mt-1 mb-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
						<td>
							Повторный звонок за сутки
						</td>
						<td>
							<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
								<input class="input_radio" style="width: 20px;" type="radio">
								<label for="">Да</label>
							</div>
						</td>
						<td>
							<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
								<input class="input_radio" style="width: 20px;" type="radio">
								<label for="">Нет</label>
							</div>	
						</td>
					</tr>
					<tr class="mt-1 mb-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
						<td>
							Подтвердить нарушение ДК
						</td>
						<td>
							<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
								<input class="input_radio" style="width: 20px;" type="radio">
								<label for="">Да</label>
							</div>
						</td>
						<td>
							<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
								<input class="input_radio" style="width: 20px;" type="radio">
								<label for="">Нет</label>
							</div>	
						</td>
					</tr>
					<tr class="mt-1 mb-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
						<td>
							Прочие жалобы на ПМСП
						</td>
						<td>
							<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
								<input class="input_radio" style="width: 20px;" type="radio">
								<label for="">Да</label>
							</div>
						</td>
						<td>
							<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
								<input class="input_radio" style="width: 20px;" type="radio">
								<label for="">Нет</label>
							</div>	
						</td>
					</tr>
					<tr class="mt-1 mb-1" style="display:flex; flex-direction: row; justify-content: end; align-items: center">
						<td>
							Соц. помощь
						</td>
						<td>
							<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
								<input class="input_radio" style="width: 20px;" type="radio">
								<label for="">Да</label>
							</div>
						</td>
						<td>
							<div style="display:flex; flex-direction: row; justify-content: end; align-items: center">
								<input class="input_radio" style="width: 20px;" type="radio">
								<label for="">Нет</label>
							</div>	
						</td>
					</tr>
				</tbody>
			</table>
			<h3 style="font-size: 14px;;">Примечание</h3>
			<textarea name="" id="" cols="72" rows="2"></textarea>
		</div>
		<div class="col-4">
			<h3 style="font-size: 14px;">Принимаемые препараты</h3>
			<textarea name="" id="" cols="36" rows="6"></textarea>
			<h3 style="font-size: 14px;">Благодарность ТМЦ</h3>
			<textarea name="" id="" cols="36" rows="6"></textarea>
		</div>
	</div>
</form>
<script>
	document.getElementById('close').addEventListener("click", function(event){
        $("#for_popup").empty();
});
</script>
<style>
    #popup{
        position:absolute;
		top: 50%;
		left: 50%;
        transform:translate(-50%, -50%);
        box-shadow: 9px 9px 9px 9px gray;
    }
	table{
		border: 1px solid gray;
	}
	td{
		height: 18px;
		vertical-align: middle;
		font-size: 12px;
	}
	tr{
		height: 18px;
	}
	input{
		min-height: 18px;
	}
</style>