{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block html_title %}Изменить личные данные{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="/">Главная</a></li>
  <li class="breadcrumb-item"><a href="{% url 'users:cabinet:index' %}">Личный кабинет</a></li>
  <li class="breadcrumb-item active" aria-current="page">Изменить данные</li>
{% endblock breadcrumb %}

{% block content %}
  <div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      {% crispy form %}
    </div>
  </div>
  </div>
{% endblock content %}
